{{#link-to
  "media.index"
  @model.id
  class="ma-MediaListItem-title"
  title=@model.title}}
  {{@model.title}}
{{/link-to}}

<button class="button ma-MediaListItem-delete" {{action "delete" @model}}>
  {{t "components.ma-media-list-item.delete-button"}}
</button>

{{yield}}