/** About
A CSS-based lightbox for rendering the copy about the app
 */
.About {
  @extend .Notification;

  bottom: 0;
  margin: 0;
  overflow: hidden;
  padding: 2em;

  @media (min-width: 45rem) {
    margin: 5rem;
  }

  &:target {
    clip: auto; /* disable clipping */
    clip-path: none; /* disable clipping */
    height: auto;
    width: auto;
  }

  &-Link {
    display: block;
    transition: filter 500ms ease;
  }

  &:target ~ * {
    filter: blur(0.25em);
  }

  &-Close {
    position: absolute;
    right: 1em;
    top: 1em;
  }
}
