/* Use box-sizing */
*,
*::before,
*::after { box-sizing: border-box; }

html {
  /* Force links to appear fresh, don't show them as previously clicked */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  /* prevent callout to copy image, etc when tap to hold */
  -webkit-touch-callout: none;

  /* prevent copy paste widget on all elements */
  user-select: none;
}

input,
select,
textarea {
  /* enable keyboard and copy paste widget on all input */
  user-select: text;
}

[data-ember-action],
a,
button,
input {
  /* force-enable Ember action bindings. Its a fix for Mobile Safari */
  cursor: pointer;
}

body { margin: 0; }

/* fix flash of unstyled content. `<html>` set to `opacity: 0` until this
stylesheet is loaded, this rule prevents a flash from being visible
 */
html.is-css-loaded { opacity: 1; }

img { max-width: 100%; }
