html {
  /* Force links to appear fresh, don't show them as previously clicked */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  /* prevent callout to copy image, etc when tap to hold */
  -webkit-touch-callout: none;

  /* prevent copy paste widget on all elements */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

html .env-development {
  // enable select/copy/paste widget on all elements (in development)
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

input,
select,
textarea {
  // enable select/copy/paste widget on all inputs
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

[data-ember-action],
a,
button,
input {
  /* force-enable Ember action bindings. Its a fix for Mobile Safari */
  cursor: pointer;
}

fieldset { border: none; }

/* fix flash of unstyled content. `<html>` set to `opacity: 0` until this
stylesheet is loaded, this rule prevents a flash from being visible
 */
html.is-css-loaded { opacity: 1; }

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  background:
    linear-gradient(
      -45deg,
      rgba(255, 0, 0, 0.25),
      rgba(255, 0, 0, 0.25) 33%,
      rgba(0, 0, 0, 0) 33%,
      rgba(0, 0, 0, 0) 66%,
      rgba(255, 0, 0, 0.25) 66%,
      rgba(255, 0, 0, 0.25)
    );
  background-size: 1.25rem 0.35rem;
  background-position: bottom left;
  background-repeat: repeat-x;
  box-shadow: none;
}
