/* Use box-sizing */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
button,
input,
select {
  /* anti-aliasing
  Frankly, i don't know why anti-aliasing isn't enabled by default.
  It probably should be, but its nice that "good" developers
  can make their sites look nicer by opting-into antialiased type.
   */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-smooth: always; */

  /* text size adjust
  allows Web authors to control if and how
  the text-inflating algorithm is applied to the textual content
  of the element it is applied to.
   */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;

  /* Normalize typography size */
  font-size: 100%;
  line-height: 1.5;
}

body { margin: 0; }

/* fix flash of unstyled content. `<html>` set to `opacity: 0` until this
stylesheet is loaded, this rule prevents a flash from being visible
 */
html.is-css-loaded { opacity: 1; }

img { max-width: 100%; }

p {
  hyphens: auto;
  margin: 1.5em 0;
}

rt {
  font-size: 0.625em; /* 10 */
  line-height: 0.5;
}
