 .Nav {
  background: white;
  box-shadow: 0 0 0.25em rgba(0,0,0,0.8);
  width: 9em;
  transition: margin-left 150ms ease;
  margin-left: -9em;
  position: fixed;
  top: 0;
  bottom: 0;

  &:target {
    margin-left: 0;

    .Nav-Nav .Nav-Close { display: inline-block; }
    .Nav-Hamburger { display: none; }
  }

  &-Hamburger {
    font-size: 1.5em;
    position: absolute;
    top: 0;
    right: -1.125em;
    text-decoration: none;
    text-shadow: 0 0 0.125em rgba(0,0,0,0.8);
  }
  &-Close {
    @extend .Nav-Hamburger;
    display: none;
  }

  &-Items {
    list-style: none;
    padding: 0;
    margin: 1em;
  }
}
