/** Offline
Show an offline message to the user.
 */
.Offline {
  color: palevioletred;
  transition: transform 250ms ease;
  will-change: transform;

  &.Notification {
    transform: translate3d(0, -10em, 0);  /* hide above the viewport until its displayed */
  }

  .is-offline & {
    transform: translate3d(0, 0, 0);  /* hide above the viewport until its displayed */
  }
}
