/* typography basics
============================================================================= */

html,
button,
input,
select {
  /* anti-aliasing
   Frankly, i don't know why anti-aliasing isn't enabled by default.
   It probably should be, but its nice that "good" developers
   can make their sites look nicer by opting-into antialiased type.
   */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* text size adjust
   allows Web authors to control if and how
   the text-inflating algorithm is applied to the textual content
   of the element it is applied to.
   */
  text-size-adjust: none;

  /* Normalize typography size */
  font-size: 100%;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: auto;
  -webkit-margin-before: 1.5em;
  -webkit-margin-after: 1.5em;
  margin-block-end: 1.5em;
  margin-block-start: 1.5em;
}

p {
  hyphens: auto;  /* enable hyphenation */
  margin: auto;  /* override normalize/sanitize margins */
  -webkit-margin-before: 1.5em;
  -webkit-margin-after: 1.5em;
  margin-block-end: 1.5em;    /* -block-end and -block-start work better than */
  margin-block-start: 1.5em;  /* margin for both horizontal and vertical text */
}

rt {
  font-size: 0.625em; /* 10 */
  line-height: 0.5;
}

/* typeface selection
============================================================================= */

/* weights */
.t-Light { font-weight: 300; }
.t-Regular { font-weight: 400; }
.t-Bold { font-weight: 700; }

/* variants */
.t-Italic { font-style: italic; }
.t-Regular { font-style: normal; }

/* sizes */
.t-XXS { font-size: 0.75em; /* 12 */ }
.t-XS { font-size: 0.875em; /* 14 */ }
.t-SM { font-size: 0.875em; /* 14 */ }
.t-MD { font-size: 1em; /* 16 */ }
.t-LG { font-size: 1.125em; /* 18 */ }
.t-XL { font-size: 1.5em; /* 24 */ }
.t-XXL { font-size: 2em; /* 32 */ }
.t-Hero { font-size: 6em; /* 96 */ }

/* alignment */
.t-Center { text-align: center; }
.t-Justify { text-align: justify; }
.t-Left { text-align: left; }
.t-Right { text-align: right; }
.t-Vertical { writing-mode: vertical-rl; }

/* Special */
.t-FL::first-letter {
  display: inline-block;
  float: left;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
}
