# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

# Diffs, handlebars, markdown
[*.{diff,hbs,md}]
trim_trailing_whitespace = false

[*.hbs]
insert_final_newline = false
