/*
.ma-Header
.ma-Header-Link
 */

.ma-Header-Nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.8);
}

.ma-Header-Items {
  margin: 0;
  padding: 1em;
}

.ma-Header-Item { display: inline; }

.ma-Header-Title { margin-top: 1.75em; }
