.ma-Progress {
  animation-delay: 250ms;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  position: fixed;
  left: 0;
  top: 0;
  height: 0.1875rem;
  background: linear-gradient(
    to right,
    $primary,
    $primary 95%,
    transparent 100%
  );

  &.is-active {
    animation-name: progress;
  }

  @keyframes progress {
    0% {
      width: 0%;
    }
    95% {
      width: 95%;
    }
    100% {
      width: 100%;
    }
  }
}
