# circleci/config.yml
version: 2

# Reusable definitions shared between jobs
defs:
  defaults: &defaults
    docker:
      - image: circleci/node:carbon-browsers
    working_directory: ~/app
  steps:
    step-update-env: &step-update-env
      name: Update environment
      command: |
        echo "export PATH=$PATH:$(yarn global bin):~/app/node_modules/.bin" >> $BASH_ENV
        git config --global user.email "$CIRCLECI_EMAIL"
        git config --global user.name "Circle CI Build Bot"

jobs:
  checkout_code:
    <<: *defaults
    steps:
      - checkout
      - persist_to_workspace:
          root: .
          paths:
            - .
  install_dependencies:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - dependency-cache-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - dependency-cache-{{ .Branch }}-
            - dependency-cache-
      - run:
          name: Install dependencies
          command: |
            yarn global add ember-cli@3.0.0-beta.2
            yarn
      - save_cache:
          key: dependency-cache-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
      - persist_to_workspace:
          root: .
          paths:
            - .
  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run:
          <<: *step-update-env
      - run:
          name: Run linters
          command: |
            yarn lint
  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run:
          <<: *step-update-env
      - run:
          name: Ember build
          command: |
            npm rebuild node-sass 2>&1 > /dev/null
            ember --version --verbose
            # see: https://github.com/stefanpenner/broccoli-persistent-filter#warning
            BROCCOLI_PERSISTENT_FILTER_CACHE_ROOT=cache; COVERAGE=true ember build -e test --output-path=dist
      - run:
          name: Ember test
          command: |
            ember --version --verbose
            BROCCOLI_PERSISTENT_FILTER_CACHE_ROOT=cache; yarn test --path=dist
            yarn coverage

workflows:
  version: 2
  build_lint_test:
    jobs:
      - checkout_code
      - install_dependencies:
          requires:
            - checkout_code
      - lint:
          requires:
            - install_dependencies
      - test:
          requires:
            - install_dependencies
