{{#ma-header
  back="routes.application.title"
  backTo="application"
  title="routes.application.title"}}
  {{link-to (t "routes.typography.title") "typography" class="navbar-item"}}
{{/ma-header}}

<p class="notification is-info">
  {{t "common.loading"}}
</p>
