{{#mir-header
  back="routes.application.title"
  backTo="application"
  title="routes.login.title"}}
  <a href="/signup" title="Sign Up">Sign Up</a>
{{/mir-header}}

<p>
  <button onclick={{route-action "loginTwitter"}}>
    Login with Twitter 🐦<br>
    <small>We won’t post without asking.</small>
  </button>
  {{#if errorMessageKeys}}
    <span>{{t errorMessageKeys}}</span>
  {{/if}}
</p>

{{mir-form-signup
  title=(t "routes.login.cta-signup")
  components=(hash
    login=(component "mir-form-login")
    input=(component "mir-input"))
  errorMessageKeys=errorMessageKeys
  loginAction=(route-action "login" model)
  action=(route-action "signup")
  model=model}}

{{outlet}}
